<!DOCTYPE html>
<head>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Material Icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
    header, main, footer {
        padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 0;
        }
    }
    .no-margin-bottom {
        margin-bottom: 0;
    }
    </style>
</head>
<body>
    <header>
        <ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(0px);">
            <li><div class="user-view">
                <div class="background">
                  <img src="images/office.jpg">
                </div>
                <div class="row valign-wrapper">
                    <h5>takuma-isec</h5>
                </div>
                <div class="row valign-wrapper">
                    <a class="col s5 waves-effect waves-light btn"><i class="material-icons left">person_add</i>Join</a>
                    <a class="col s5 waves-effect waves-light btn">Login</a>
                </div>
                <div class="row valign-wrapper">
                    <div class="col s2">
                      <img src="images/yuna.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                      <span class="black-text">
                        <a href="#name"><span class="white-text name">kaniyama_t</span></a><a href="/m/edit/name"><i class="tiny material-icons right">edit</i></a>
                        <a href="logout"><span class="white-text">Logout</span></a>
                      </span>
                    </div>
                </div>
                <!-- <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a> -->
            </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
    </header>
    <main>
        {% if loggedIn %}
        <div class="row z-depth-2">
            <form class="col s12">
                <div class="row no-margin-bottom">
                    <div class="input-field col s12 no-margin-bottom">
                        <input id="post_title" type="text" required>
                        <label for="post_title">タイトル</label>
                    </div>
                </div>
                <div class="row no-margin-bottom">
                    <div class="col s12">
                        <ul class="tabs">
                          <li class="tab col s3"><a class="active" href="#post_body_tab">Markdown</a></li>
                          <li class="tab col s3"><a href="#post_preview_tab">Preview</a></li>
                        </ul>
                    </div>
                    <div id="post_body_tab" class="col input-field col s12 no-margin-bottom">
                        <textarea id="post_body" class="materialize-textarea" required></textarea>
                        <label for="post_body">本文</label>
                    </div>
                    <div id="post_preview_tab" class="col s12">
                        <div id="post_preview" style="margin: 30px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s1"></div>
                    <div class="col s9"></div>
                    <div class="col s2">
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons right">publish</i>保存</a>
                    </div>
                </div>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                  <div class="modal-content">
                    <h4>記事の保存</h4>
                    <p>記事の保存をします</p>
                    
                    <p class="card">
                      <label>
                        <input name="release_group" type="radio" />
                        <span>公開する(審査有)</span>
                      </label>
                    </p>
                    <p class="card">
                      <label>
                        <input name="release_group" type="radio" checked />
                        <span>下書きとして保存する</span>
                      </label>
                    </p>
                </div>
                  <div class="modal-footer">
                    <button type="submit" class="modal-close waves-effect waves-green btn-flat">保存</button>
                  </div>
                </div>
            </form>
        </div>
        {% endif %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
            var elems = document.querySelectorAll('.tabs');
            var instance = M.Tabs.init(elems);
            // Markdown自動Preview
            var input_elem = document.getElementById("post_body");
            var preview_elem = document.getElementById("post_preview");
            input_elem.addEventListener('input', updateValue);
            function updateValue(e) {
                preview_elem.innerHTML = marked.parse(e.target.value);
            }
        });
    </script>
</body>